{% load static %} 
<section id="secao-arrec">
    <div id="frases-arrec">
        <div id="frase1-arrec">
            <h1>Agora doar ficou mais fácil!</h1>
        </div>
    </div>
    <div id="titulo-arrec">
        <h1>Confira nossos pontos de arrecadação!</h1>
    </div>
    <div class="carrossel-arrec">
        <div id="carrosseis-arrec">
            <img src="{% static 'images/cachorro1.jpg' %}" alt="">
            <div id="nomelocal-arrec">
                <h2>Local tal</h2>
            </div>
            <div id="endlocal-arrec">
                <h2>Endereço tal</h2>
            </div>
        </div>
        <div id="carrosseis-arrec"><img src="{% static 'images/cachorro2.png' %}" alt=""></div>
        <div id="carrosseis-arrec"><img src="{% static 'images/cachorro3.png' %}" alt=""></div>
    </div>
</section>