{% load static %} 
<section class="secao-banner">
    <div class="carrossel-banner">
        <div id="carrosseis-banner"><img id="img-banner" src="{% static 'images/cachorro4.jpg' %}" alt="imagem 1 do banner"></div>
        <div id="carrosseis-banner"><img id="img-banner" src="{% static 'images/cachorro2.png' %}" alt="imagem 2 do banner"></div>
        <div id="carrosseis-banner"><img id="img-banner" src="{% static 'images/cachorro3.png' %}" alt="imagem 3 do banner"></div>
    </div>
    <div id="frase-banner">
        <h1>Adote um amor pra vida inteira!</h1>
    </div>


</section>