{% load static %}

<section class="como-ajudar">
    <div class="ca-foto">
        <img src="{% static 'images/foto-como-ajudar.png' %}" alt="">
    </div>
    <div class="ca-titulo">
        <h1>Como ajudar</h1>
    </div>
    <div class="ca-texto">
        <p>Contribua com qualquer valor a nossa causa</p>
    </div>
    <div class="ca-carrosseis">
        <div class="slick-contas">
            <div class="ca-bancos">
                <img src="{% static 'images/bb.png' %}" alt="">
            </div>
            <div class="ca-bancos">
                <img src="{% static 'images/bb.png' %}" alt="">            
            </div>
            <div class="ca-bancos">
                <img src="{% static 'images/bb.png' %}" alt="">
            </div>
        </div>
        <div class="slick-infos">
            <div class="ca-banco-info">
                <p>Banco do Brasil</p>
                <p>Agencia 3250-6, C/c:</p>
                <p>26008-8</p>
            </div>
            <div class="ca-banco-info">
                <p>Banco do Brasil</p>
                <p>Agencia 3250-6, C/c:</p>
                <p>26008-8</p>
            </div>
            <div class="ca-banco-info">
                <p>Banco do Brasil</p>
                <p>Agencia 3250-6, C/c:</p>
                <p>26008-8</p>
            </div>
        </div>
    </div>

</section>