{% load static %}

<section class="como-ajudar">
    <div class="ca-foto">
        <img src="{% static 'images/foto-como-ajudar.png' %}" alt="">
    </div>
    <div class="ca-titulo">
        <h1>Como ajudar</h1>
    </div>
    <div class="ca-texto">
        <p>Contribua com qualquer valor a nossa causa</p>
    </div>
    <div>
        {% for usuario in usuarios %}
            <p>{{usuario.usuario}}</p>
        {% endfor %}
    </div>
    <div class="ca-carrosseis">
        <div class="slick-contas">
        {% for conta in contas %}
            <div class="ca-bancos">
                <img src="{{ conta.foto.url }}" alt="">
            </div>
        {% endfor %}
        </div>
        <div class="slick-infos">
        {% for conta in contas %}
            <div class="ca-banco-info">
                <p>{{ conta.conta_bancaria }}</p>
                <p>{{ conta.numero_agencia }}</p>
                <p>{{ conta.nome_titular }}</p>
            </div>
        {% endfor %}
        </div>
    </div>

</section>