{% load static %} 
<section class="secao-contato">
    <h1 id="titulo-contato"> Contato</h1>
    <form id="form-contato">
        <div id="id-contato">
            <label for="nome">Nome</label>
            <input id="nome" type="text" name="nome-contato">
            <label for="email">E-mail</label>
            <input id="email" type="text" name="email-contato">
            <label for="telefone">Telefone</label>
            <input id="telefone" type="text" name="telefone-contato">
            <label for="assunto">Assunto</label>
            <input id="assunto" type="text" name="assunto-contato">
        </div>
        <div id="msg-contato">
                <label for="msg">Mensagem</label>
            <input id="msg" type="text" name="mensagem-contato">
            <input type="submit" value="Enviar">
        </div>
    </form>

</section>
