{% load static %} 
<section class="secao-contato" style="background-image: url({% static 'images/doguinho-lendo.png' %})">
    <div id="titulo-contato">
        <h1> Contato</h1>
    </div>
    <form id="form-contato" method='POST' action="/">
    {% csrf_token %}
        <div id="line1-contato">
            <div id="nome-contato">
                <label for="nome">Nome</label>
                <input id="nome" type="text" name="nome-contato">
            </div>
            <div id="telefone-contato">
                <label for="telefone">Telefone</label>
                <input id="telefone" type="tel" name="telefone-contato">
            </div>
        </div>
        <div id="line2-contato">
            <label for="email">E-mail</label>
            <input id="email" type="email" name="email-contato">
        </div>
        <div id="line3-contato">
            <label for="assunto">Assunto</label>
            <input id="assunto" type="text" name="assunto-contato">
        </div>
        <div id="line4-contato">
            <label for="msg">Mensagem</label>
            <textarea id="msg" type="text" name="mensagem-contato"></textarea>
        </div>
        <div id="botao-contato">
            <input id="enviar" type="submit" value="Enviar">
        </div>
    </form>

</section>
