{% load static %} 
<section class="secao-eventos">
        <img id="imgtop-eventos" src="{% static 'images/evento@3x.png' %}" alt="">
        <div id="titulo1-eventos">
            <h1>Eventos</h1>
        </div>
        <div id="frase1-eventos">
            <h2>Chegou a hora de você conhecer seu amiguinho!</h2>
        </div>
        <div id="frase2-eventos">
            <h2>Nos nossos eventos você pode conhecer nosso trabalho e ajudar como puder!</h2>
        </div>
        <div id="frase3-eventos">
            <h1>Chegou a hora de você conhecer seu amiguinho, fique ligado nos nossos eventos
                de adoção e não perca a oportunidade de ter um amor único! Nos nossos eventos 
                você pode conhecer nosso trabalho e ajudar como puder.
            </h1>
        </div>
        <div id="titulo2-eventos">
            <h1>Passe um evento conosco!</h1>
        </div>
        <div class="carrossel-eventos">
            <div id="carrosseis-eventos"> <img src="{% static 'images/adocao@3x.png' %}" alt=""></div>
            <div id="carrosseis-eventos"> <img src="{% static 'images/adocao@3x.png' %}" alt=""></div>
            <div id="carrosseis-eventos"> <img src="{% static 'images/adocao@3x.png' %}" alt=""></div>
        </div>
        <div id="divisoria-eventos">
            <div id="linhadiv-eventos"></div>
            <div><img id="dogdiv-eventos" src="{% static 'images/dogdiv.png' %}"></div>
            <div id="linhadiv-eventos"></div>
        </div>
</section>