{% load static %}

<footer>
    <div class="footer-logo">
        <img src="{% static 'assets/logo@2x.png' %}" alt="">
    </div>
    <div class="footer-contato">    
        <div class="footer-info">
            <img src="{% static 'images/phone2x.png' %}" alt="">
            <p>numero de telefone</p>
        </div> 

        <div class="footer-info">
            <img src="{% static 'images/closed-envelope-circle@2x.png' %}" alt="">
            <p>E-mail do abrigo</p>
        </div>

    </div>
    <div class="footer-midia">
        <img src="{% static 'images/facebook-logo-button@2x.png' %}" alt="">
        <img src="{% static 'images/instagram-logo@2x.png' %}" alt="">
    </div>
</footer>

<section>
    <div class="footer-cin">
        Made with
        <i class="fas fa-code"></i> 
        and
        <i class="far fa-heart"></i> 
        by
        <img src="{% static 'images/logo-citi.png' %}" alt=""></p>
    </div>
</section>