{% load static %}

<header class="container">
    <div class="logo">
        <img src="{% static 'assets/logo.jpg' %}" alt="Logo Abrigo">
    </div>
    <nav class="burguer-menu" onclick="showMenu()">
        <div class="burguer">
            <img src="{% static 'assets/menu.png' %}" alt="Icone do Menu" height="60px" width="60px">
        </div>
    </nav>
</header>
<section>
    <div class="menu">
        <div class="menu-text cut">
            <p class="itens-menu">Início</p>
        </div>
    
    
        <div class="divisao">
            <div class="linha-divisora"></div>
            <div class="simbolo">
                <img src="{% static 'assets/right-arrows-couple (1).png' %}" alt="" width="20px" height="20px">
            </div>
            <div class="linha-divisora"></div>
        </div>
    
    
        <div class="menu-text">
            <p class="itens-menu">Sobre nós</p>
        </div>
    
    
        <div class="divisao">
            <div class="linha-divisora"></div>
            <div class="simbolo">
                <img src="{% static 'assets/right-arrows-couple (1).png' %}" alt="" width="20px" height="20px">
            </div>
            <div class="linha-divisora"></div>
        </div>
    
    
        <div class="menu-text">
            <p class="itens-menu">Como ajudar</p>
        </div>
    
    
        <div class="divisao">
            <div class="linha-divisora"></div>
                <div class="simbolo">
                    <img src="{% static 'assets/right-arrows-couple (1).png' %}" alt="" width="20px" height="20px">
                </div>
            <div class="linha-divisora"></div>
        </div>
    
    
        <div class="menu-text">
            <p class="itens-menu">Eventos</p>
        </div>
    
    
        <div class="divisao">
            <div class="linha-divisora"></div>
            <div class="simbolo">
                <img src="{% static 'assets/right-arrows-couple (1).png' %}" alt="" width="20px" height="20px">
            </div>
            <div class="linha-divisora"></div>
        </div>
    
    
        <div class="menu-text">
            <p class="itens-menu">Contato</p>
        </div>
    
    
        <div class="divisao">
            <div class="linha-divisora"></div>
            <div>
                <img src="{% static 'assets/dog-face (4)@3x.png' %}" alt="" width="30px" height="30px">
            </div>
            <div class="linha-divisora"></div>  
        </div>
    </div>
</section>
<script src="{% static 'js/functions.js' %}"></script>
