{% load static %}

<section class="nossahistoria">
    <div class="ns-divisor-top">
    </div>
    <div id="ns-foto">
        <img src="{% static 'images/seualberto.jpg' %}" alt="">
    </div>
    <div id="ns-titulo">
        <h1>Nossa história</h1>
    </div>
    <div id="ns-texto">
        <p>
            O abrigo do seu Alberto teve início em 2004, quando seu Alberto se mudou para o bairro de candeias e se sensibilizou com a situação dos cãezinhos de rua que encontrava. A medida que o tempo passava, mais vidas caninas eram salvas e essa família de 4 patas só aumentava e, quanto mais vidas, mais responsabilidades. Com isso, nosso objetivo é dar visibilidade e chance para todos os nossos companheiros resgatados através de suas histórias e características. Estabelecemos uma relação de amor e comprometimento e zelamos pelo cuidado, saúde e bem estar dos nossos cães, revertendo a ajuda recebida em benefício deles.
        </p>
    </div>
    <div class="ns-divisor-bot">
    </div>
    <div class="ns-divisao">
        <div class="ns-linha-divisora"></div>
        <div>
            <img src="{% static 'images/dog-with-square-head-shape (1)@3x.png' %}" alt="" width="30px" height="30px">
        </div>
        <div class="ns-linha-divisora"></div>
    </div>

</section>