{% load static %}

<section class="servicos">
    <div class="serv-card">
        <div class="card-img">
            <img src="{% static 'images/collaboration-community-cooperation-461049.png' %}" alt="Maos Dadas">
        </div>
        <div class="card-titulo">
            <h2>Seja um voluntário</h2>
        </div>
        <div class="card-texto">
            <p>Faça doações, divulgue nossos eventos e plataformas, participe de mutirões de banho ou seja voluntário em nossos eventos de doação!</p>
        </div>  
    </div>

    <div class="serv-card">
        <div class="card-img">
            <img src="{% static 'images/cachorro1.jpg' %}" alt="">
        </div>
        <div class="card-titulo">
            <h2>Saiba como adotar!</h2>
        </div>
        <div class="card-texto">
            <p>Você é bem vindo ao nosso abrigo para conhecer o nosso trabalho e o seu melhor amigo de quatro patas! Abrimos aos domingos, basta entrar em contato conosco e agendar uma conversa. Curtiu? Vamos conversar!</p>
        </div>
    </div>
</section>
<div class="serv-divisao">
        <div class="serv-linha-divisora"></div>
        <div class="serv-cachorro">
            <img src="{% static 'images/dog-with-long-ears (1)@3x.png' %}" alt="">
        </div>
        <div class="serv-linha-divisora"></div>
</div>