#secao-arrec{
    background-color: #4F084F;
}
#frases-arrec{
    display: flex;
    width: 100%; 
    height: 15vh;
}
#frase1-arrec{
    background-color: #310D31;
    display: flex;
    width: 50vw;
    text-align: center;
    margin: 1vh 0;
    position: absolute;
}
#frase1-arrec h1{
    color: #FAC64B;
    font-family: 'Roboto Slab', serif;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.8rem;
    text-align: left;
}
#titulo-arrec{
    display: flex;
    width: 100%;
    text-align: center;
    margin: 5vh 0 1vh 0;
}
#titulo-arrec h1{
    width: 100%;
    color: #FAC64B;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    font-weight: normal;
}
.carrossel-arrec .slick-slide img{
    margin: auto;
    width: 65vw;
    padding: 10px;
    border-radius: 20px;
}
.carrossel-arrec .slick-dots{
    position: relative;
    bottom: 0vh;
}
.carrossel-arrec .slick-dots li.slick-active button:before{
    border:1px solid #FAC64B;
    width: 60%;
    height: 60%;
    margin: 2px auto;
    color: transparent;
}
.carrossel-arrec .slick-slide{
    opacity: 0.7;
}
.carrossel-arrec .slick-active{
    opacity: 1;
}
#nomelocal-arrec{
    display: flex;
    width: 80%;
    position: absolute;
    margin: 10px auto;
    background-color: #310D31;
    opacity: 0.7;
    width: 55vw;
    margin: -24vh 0 0 8vw;
}
#nomelocal-arrec h2{
    font-size: 0.7rem;
    font-weight: normal;
    color: #FAC64B;
    margin: 5px 0;
    text-align: center;
    width: 100%;
}
#endlocal-arrec{
    display: flex;
    width: 55vw;
    margin: -6vh 0 0 8vw;
    position: absolute;
    text-align: center;
    background-color: #310D31;
    opacity: 0.7;
}
#endlocal-arrec h2{
    font-size: 0.7rem;
    font-weight: normal;
    color: #FAC64B;
    margin: 5px 0;
    text-align: center;
    width: 100%;
}