body{
    margin: 0%;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
}

.burguer-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.menu{
    margin-top: 5px;
    background-color: #4F084F;
    transition: 1s;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    opacity: 0;
}

.menu-text{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #310D31;
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 27px;
    color: #FAC64B;
}

.change{
    margin-top: 5px;
    background-color: #4F084F;
    transition: 1s;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    opacity: 1;
}

.divisao{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.linha-divisora{
    width: 40%;
    background-color: #FAC64B;
    height: 3px;
}

.simbolo{
    transform: rotate(90deg)
}