@media only screen and (max-width: 1200px){
    .slick-dots{
        bottom: 1vh;
    }
    #frase-banner h1{
        font-size: 5rem;
        margin: 3.5vh 0;
    }
    #frase-banner{
        background-color: #4F084F;
        margin: 15vh 0;
        opacity: 0.8;
        width: 100%;
    }
    #img-banner{
        opacity: 0.9;
        transform: scale(1.1);
        object-fit: cover;
    }
    .secao-banner{
       height: 100vh;
    }
}
@media only screen and (max-width: 900px){
    #frase-banner h1{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 600px){
    #frase-banner h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 320px){
    #frase-banner h1{
        font-size: 1.5rem;
    }
}
