{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/contato.css' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- Seção navbar-->
    {% include 'home_page/header.html' %}
    <!-- Seção baner -->
    
    <!-- Seção sobre nós -->
    
    <!-- Seção como ajudar -->
    
    <!-- Seção eventos -->
    
    <!-- Seção contato -->
    {% include 'home_page/contato.html' %}
    <!-- Footer -->
</body>
</html>